fastapi
uvicorn[standard]

pydantic
pydantic-settings

python-dotenv

motor
pymongo

redis

python-jose[cryptography]
passlib[bcrypt]

python-multipart

httpx

email-validator

loguru

pytest

pytest-asyncio